{{!-- This will be the login page --}}

<div>
    <h1>You are not logged in. Please log in to continue.</h1>
        <div>
            <div class="container-fluid, d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                 <form>
                    <input type="text" name="username" placeholder="Username" id="loginUser">
                    <input type="password" name="password" placeholder="Password" id="loginPass">
                    <input type="submit" value="Login" id="loginBtn">
                </form>
            </div>
        </div>
</div>
