{{!-- This will be the login page --}}

<div>
    <div class="card, border border-dark, padding 15px,col-sm-6">
        <h1 class="card-header">You are not logged in. Please log in to continue.</h1>
        <br></br>
            <div class="card-body ">
                <form class="padding 15px">
                    <input type="text" name="username" placeholder="Username" id="loginUser">
                    <input type="password" name="password" placeholder="Password" id="loginPass">
                    <input type="submit" value="Login" id="loginBtn">
                </form>
            </div>
        </div>
</div>

<p id="errorMessage"></p><br><br>

<p>Don't have an account yet?</p>
<a href="/signup">Sign up!</a>

<script src="/js/login.js"></script>
