<form id="reviewForm">
    <label for="rating">Rating:</label>
    <input type="text" id="rating" name="rating"><br />
    <label for="content">Review:</label>
    <textarea id="content" name="content" rows="4" cols="50"></textarea><br>
    <button type="submit" id="submit">Submit</button>
</form>

<script src="/js/reviews.js"></script>