<h1>Sign up!</h1>
<div>
    <form>
        <input type="text" name="username" placeholder="Username" id="signupUser">
        <input type="password" name="password" placeholder="Password" id="signupPass">
        <input type="submit" value="Sign Up" id="signupBtn">
    </form>
</div>

<p id="errorMessage"></p>

<script src="/js/signup.js"></script>