<div>
    <div class="card, dark-border-subtle">
        <h1 class="card-header">Sign up!</h1>
            <div class="card-body ">
                <form>
                    <input type="text" name="username" placeholder="Username" id="signupUser">
                    <input type="password" name="password" placeholder="Password" id="signupPass">
                    <input type="submit" value="Sign Up" id="signupBtn">
                </form>
            </div>
        </div>
</div>
<p id="errorMessage"></p><br><br>

<p>Already have an account?</p>
<a href="/login">Log in!</a>

<script src="/js/signup.js"></script>